.login-background {
    background-image: url(./yellow-background.jpg);
    background-size: cover;
    height: 100vh;
}

.h1-login {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
    color: rgb(247, 205, 128);
    text-shadow: 2px 2px rgb(168, 128, 24);
    text-align: center;
    padding-top: 50px;
    width: 250px;
    margin: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: rgba(255, 255, 255, 0.678);
    width: 250px;
    height: 280px;
    margin-top: 50px;
    border: goldenrod 3px solid;
    
}

.login-form p {
    font-size: 13px;
    text-align: center;
    margin: 10px;
}

.login-form a {
    color: goldenrod;
    font-weight: bold;
}

input {
    margin: 5px;
}

.login-button {
    margin: 15px 0 10px 0;
}

.to-signup {
    font-size: 13px;
    margin: 10px;
}

/* TABLET VIEW */
@media screen and (min-width: 668px) {
    .h1-login {
        font-size: 50px;
        width: auto;
    }
}

/* DESKTOP VIEW */
@media screen and (min-width: 1024px) {
    .h1-login {
        font-size: 60px;
    }
}
