.member-background {
    background-image: url(./yellow-background.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
}

.member-wrapper {
    display: flex;
}

.h1-member {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    color: rgb(247, 205, 128);
    text-shadow: 2px 2px rgb(168, 128, 24);
    text-align: center;
    padding-bottom: 5px;
}

.message-text {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding-top: 250px;
    margin: auto;
}

/* TABLET VIEW */
@media screen and (min-width: 668px) {
    .h1-member {
        font-size: 50px;
    }

    .message-text {
        font-size: 25px;
    }
}

/* DESKTOP VIEW */
@media screen and (min-width: 1024px) {
    .h1-member {
        font-size: 60px;
    }
}
