.notes-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./sunflower.jpg);
    background-size: cover;
    margin-top: 10px;
    padding-top: 15px;
    border: solid blue 2px;
}

.h1-notes {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    color: rgb(247, 205, 128);
    text-shadow: 2px 2px rgb(168, 128, 24);
    text-align: center;
}

/* wraps new-note-text, textarea, image upload & button */
.new-note-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.863);
    border: rgba(218, 165, 32, 0.747) outset 4px;
}

.new-note-text {
    color: black;
    font-size: 13px;
    margin: 5px;
}

textarea {
    font-family: 'Cedarville Cursive', cursive;
    color: goldenrod;
    font-size: 13px;
    width: 270px;
    padding-left: 5px;
    margin-left: 5px;
}

::placeholder {
    color: goldenrod;
}

.character-count {
    font-size: 10px;
    color: goldenrod;
    font-weight: 600;
    text-align: end;
    padding-right: 2px;
}
.image-upload {
    border: solid orange 1px;
}



/* wraps all existing notes */
.note-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 100vh;
    
}

.all-notes-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.note-container {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.863);
    border: goldenrod solid 4px;
}

.note-text {
    font-size: 13px;
}

.note-added {
    color:rgb(168, 128, 24);
    font-size: 10px;
    margin-top: 10px;
}

.delete-button {
    font-size: 10px;
    color: rgb(167, 126, 25);
    height: 15px;
    margin-top: 10px;
    padding: 0 2px 0 2px;
    background-color: rgba(247, 205, 128, 0.486);
    border: solid 1px goldenrod;
}

/* TABLET VIEW */ 
@media screen and (min-width: 668px) {
    .h1-notes {
        font-size: 50px;
    }

}

/* DESKTOP VIEW */
@media screen and (min-width: 1024px) {
    .h1-notes {
        font-size: 60px;
    }

}